
.App {
  --react-play-theme: #00f2fe;
  --react-play-bg: #ffffffs;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#qrValue, #download-btn {
  border: 0.15rem solid var(--react-play-theme);
  padding: 0.5rem 1rem;
  background-color: var(--react-play-bg);
  outline: none;
  border-radius: 0.5rem;
}

#download-btn {
  border-color: #0103262c;
  background-color: var(--react-play-theme);
  cursor: pointer;
}